@tailwind base;
@tailwind components;
@tailwind utilities;

/* @TODO 폰트 적용 이슈 해결 */

@layer base {
	/* reset.css의 확장 */
	@font-face {
		font-family: 'Pretendard Variable';
		src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css')
			format('font-woff2');
		font-style: normal;
	}
	:root {
		font-size: 62.5%;
		font-family:
			'Pretendard Variable',
			Pretendard,
			-apple-system,
			BlinkMacSystemFont,
			system-ui,
			Roboto,
			'Helvetica Neue',
			'Segoe UI',
			'Apple SD Gothic Neo',
			'Noto Sans KR',
			'Malgun Gothic',
			'Apple Color Emoji',
			'Segoe UI Emoji',
			'Segoe UI Symbol',
			sans-serif;
	}
}

@layer components {
	/* 자주쓰는 속성들끼리 모아 커스텀 속성을 만들 수 있다. */
	/* <div className="flexCenter"> 처럼 적용 가능 */
	.flexCenter {
		@apply flex flex-col items-center justify-center;
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
